<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="LoggingFolderPath" value="C:\SSCOutlookReset" />
    <!-- Depending on how you set up your envirnment, use either Person or User-->
    <add key="ADSearchCriteria" value="Person" />
    <add key="MigrationADGroup" value="OU=SSC,CN=Users,OU=GC,DC=ad,DC=pwgsc-tpsgc,DC=gc,DC=ca" />
    <!-- No longer needed, comes from the resource file <add key="MsgTitle" value="Shared Services Canada / Services partagés Canada" />-->
    <add key="MigrationScheduledTaskName" value="Outlook 365 Transition - " />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>